[Unit]
Description=A tray applet for managing bluetooth
BindsTo=tint2.service

[Service]
ExecStart=/usr/bin/blueman-applet

[Install]
WantedBy=tint2.service
