[Unit]
Description=Systray applet to manage Network Manager
BindsTo=tint2.service

[Service]
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=tint2.service
