[Unit]
Description=An Applet for PulseAudio
BindsTo=tint2.service

[Service]
ExecStart=/usr/local/bin/pasystray -g --notify=sink

[Install]
WantedBy=tint2.service
