[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
docopt = "*"
"ruamel.yaml" = "*"
Jinja2 = "*"
python-magic = "*"
requests = "*"
packaging = "*"
jinja2 = "*"
toml = "*"
distro = "*"

[requires]
python_version = "3"
