"*":
  core:
    audioBeep: false
    disabledPackages: [
      "autocomplete-snippets"
      "autoflow"
      "background-tips"
      "busy-signal"
      "git-log"
      "pretty-json"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 18
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "{{@@ atom_user_id @@}}"
  linter:
    lintOnChange: false
  "linter-ui-default":
    showPanel: true
  "spell-check":
    locales: [
      "en-US"
    ]
  tabs:
    addNewTabsAtEnd: true
    displayMruTabList: false
    enableMruTabSwitching: false
    enableVcsColoring: true
  welcome:
    showOnStartup: false
